.main {
  padding: 100px 0;
  @media (max-width: 1216px) {
    & {
      padding: 50px 0;
    }
  }
  .worldContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .imgBlock {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
